<%- include("headernav") -%>

<!-- body container of both sections -->
<div class="container-fluid d-flex mt-5 text-center" style="height: 1000px; margin-left: 50px;">



    <!-- For personal info container  -->
    <div class="container rounded m-3 pt-3 shadow text-center" style="background-color: #eeeeeea0; font-family: Julee;">
      <!-- Heading  -->
      <span class="bg-dark text-white p-4 rounded-3 text-center d-inline-block mb-5 shadow-lg">
        COMPANY INFORMATION
      </span>

      <!-- Image of tasker  -->
      <div class="m-5">
        <img src="images/profilepic.jpg" alt="" height="200px" width="200px" class="rounded-circle shadow-lg">
      </div>

      <!-- taskers info  -->
      <div class="d-flex flex-wrap flex-column mt-3 align-content-around h-50">
        <div class="text-center p-3">Company Name: <%= name %></div>
        <div class="text-center p-3">Email: <%= email %></div>
        <div class="text-center p-3">Contact Number: <%= number %></div>
        <div class="text-center p-3">Industry: <%= industry %></div>
        <div class="text-center p-3">Company Address: <%= address %></div>
        
        <button class="btn ms-3 rounded text-white" type="button" style="background-color: #393E46;"><a href="/jobPostForm" class="text-decoration-none text-white">POST A JOB</a> </button>

      </div>
    </div>
  </div>
<%- include("footer") -%>